<footer class="footer">
	<!-- templates -->

	<div class="footer-top">
		<div class="footer-container container-main">
			<span class="footer-span">
				Басты бет
			</span>
			<div class="footer-template">
				<form action="" class="footer-form">

					<input type="search" class="footer-form__input" placeholder="Іздегеніңіз">

					<button class="footer-form__button"></button>
				</form>
			</div>
		</div>
	</div>
	<div class="footer-medium">
		<div class="footer-container container-main">
			<div class="footer-accordeon">
				<button type="button" disabled class="footer-accordeon__button">Компания туралы</button>
				<ul class="footer-list">
					<li class="footer-list__item"><a href="#" class="footer-list__link"> Корпоративтік ақпарат</a></li>
					<li class="footer-list__item"><a href="#" class="footer-list__link"> Байланыс</a></li>
					<li class="footer-list__item"><a href="#" class="footer-list__link">Ақпараттық қауіпсіздік</a></li>
					<li class="footer-list__item"><a href="#" class="footer-list__link"> Ізденушіге</a></li>
				</ul>
			</div>

			<div class="footer-accordeon">
				<button type="button" disabled class="footer-accordeon__button">Жаңалықтар мен іс-шаралар</button>
				<ul class="footer-list">
					<li class="footer-list__item"><a href="#" class="footer-list__link"> Жаңалықтар</a></li>
					<li class="footer-list__item"><a href="#" class="footer-list__link"> Баспасөз орталығы</a></li>
				</ul>
			</div>
			<div class="footer-accordeon">
				<button type="button" disabled class="footer-accordeon__button">Ұсыныс</button>
				<ul class="footer-list">
					<li class="footer-list__item"><a href="#" class="footer-list__link">Тұтынушыға</a></li>
					<li class="footer-list__item"><a href="#" class="footer-list__link">Кәсіпорындарға</a></li>
					<li class="footer-list__item"><a href="#" class="footer-list__link"> Операторларға</a></li>
					<li class="footer-list__item"><a href="#" class="footer-list__link"> Бұлт сервистер</a></li>
				</ul>
			</div>
			<div class="footer-accordeon">
				<button type="button" disabled class="footer-accordeon__button">Көмек</button>
				<ul class="footer-list">
					<li class="footer-list__item"><a href="" class="footer-list__link">Қолданушыға</a></li>
					<li class="footer-list__item"><a href="" class="footer-list__link">Кәсіпорындарға</a></li>
					<li class="footer-list__item"><a href="" class="footer-list__link"> Операторларға</a></li>
				</ul>
			</div>
		</div>

	</div>
	<div class="footer-bottom">
		<div class="footer-container container-main">
			<span class="footer-span">
				Интернет-дүкен
			</span>
			<ul class="footer-social">
				<li class="footer-social__item"><a href="#" class="footer-social__link"><img alt="icon"
							src="images/facebook.svg" class="footer-social__image"></a></li>
				<li class="footer-social__item"><a href="#" class="footer-social__link"><img alt="icon"
							src="images/linkedin.svg" class="footer-social__image"></a></li>
				<li class="footer-social__item"><a href="#" class="footer-social__link"><img alt="icon"
							src="images/twitter.svg" class="footer-social__image"></a></li>
				<li class="footer-social__item"><a href="#" class="footer-social__link"><img alt="icon"
							src="images/vkontakte.svg" class="footer-social__image"></a></li>
				<li class="footer-social__item"><a href="#" class="footer-social__link"><img alt="icon"
							src="images/insta.svg" class="footer-social__image"></a></li>
			</ul>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="footer-container container-main">
			<p class="footer-copyright__text">
				2023 Huawei Technologies Co., Ltd.
			</p>
			<ul class="footer-copyright-list">
				<li class="footer-copyright-list__item"><a href="#" class="footer-copyright-list__link">Байланыс</a>
				</li>
				<li class="footer-copyright-list__item"><a href="#" class="footer-copyright-list__link">Қолдану
						шарты</a></li>
				<li class="footer-copyright-list__item"><a href="#" class="footer-copyright-list__link">Құпиялық
						саясаты</a></li>
			</ul>
		</div>
	</div>

</footer>