.header {
    // padding: 25px 0;
    background-color: $white;
    min-height: 75px;
    height: 75px;
    width: 100%;
    position: fixed;

    // &.active {
    //     transform: translateY(0px) ;
    // }
    &.inactive {
        transform: translateY(-75px);
    }
    transition: 0.3s all;
    @media screen and (max-width: 767px) {
        // box-shadow:  0 -4px 4px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    // border-bottom: 1px solid $red;
    // position: relative;
    z-index: 12;
    &__container {
        display: flex;
        align-items: center;
        align-content: stretch;
        flex-wrap: nowrap;
        height: 100%;
        position: relative;
        z-index: 1;
    }
    &__logo {
        height: 29px;
    }

    &__logo-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__search-btn {
        margin-left: 106px;
        width: 20px;
        height: 20px;
        margin-top: 6px;
        transform: scale(1);
        &.inactive {
            transform: scale(0);
            overflow: hidden;
        }
        @media screen and (max-width: 1000px) {
            margin-left: 42px;
        }
    }

    &__search-btn-image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 500px) {
        &__container {
            padding: 0 10px;
        }
    }
}
.menu {
    margin-left: auto;
    font-size: 14px;
    color: $black;
    display: flex;
    height: 100%;
    padding-top: 33px;
    gap: 0 53px;
    transition: 0.3s all;
    &__item {
        position: relative;
        z-index: 5;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $red;
            z-index: 5;
            transition: 0.3s all;
            opacity: 0;
        }
        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    &__item-title {
        color: #000;
        pointer-events: none;
        position: relative;
        &::after {
            display: none;
            content: "";
            position: absolute;
            right: 40px;
            background-image: url(../images/vector-second.svg);
            width: 10px;
            height: 10px;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.3s all;
        }
    }
    // dropdown

    &__dropdown {
        position: fixed;
        z-index: 3;
        left: 0;
        top: 73px;
        margin-top: 1px;
        padding: 0;
        width: 100%;
        overflow: hidden;

        flex-direction: column;

        display: flex;
        cursor: default;
        transition: 0.65s all;
        visibility: hidden;
        opacity: 0;
        @media screen and(max-width:767px) {
            opacity: 1;
            transition: max-height 0.4s ease-out;
            visibility: visible;
            max-height: 0px;
        }

        &.active {
            opacity: 1;
            visibility: visible;
            overflow: visible;
            z-index: 12;
            @media screen and(max-width:767px) {
                // visibility: visible;
                // overflow: visible;
            }
        }
    }

    &__dropdown-top {
        display: flex;
        align-items: center;
        min-height: 214px;
        height: auto;
        background-color: $white;
    }

    &__dropdown-top-list {
        display: flex;
        gap: 15px;
        padding: 66px 0;

        // justify-content: space-between;
        display: flex;
        gap: 25px 15px;
        flex-wrap: wrap;
    }

    &__dropdown-top-item {
        flex: 0 1 calc(20% - 15px);
    }

    &__dropdown-top-link {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 80px;

        img {
            display: inline-block;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        span {
            display: inline-block;
            margin-top: 15px;
            color: #595757;
            font-size: 14px;
            text-align: center;
        }
        &:hover {
            span {
                text-decoration-line: underline;
                color: #333333;
            }
        }
    }

    &__dropdown-bottom {
        width: 100%;
        height: 91px;
        background-color: #f7f7f7;
    }
    &__dropdown-bottom--null {
        background-color: $white;
    }
    &__dropdown-bottom-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        height: 100%;
    }
    &__dropdown-bottom-link {
        position: relative;
        // width: 208px;
        height: 40px;
        // padding-left: 56px;
        padding-right: 35px;
        display: flex;
        align-items: center;

        font-size: 14px;

        color: #595757;
        // transition: 0.3s all;
        svg {
            width: 40px;
            height: 40px;
            margin-right: 15px;
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 10px;
            background-image: url(../images/link-vector.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 18px;
            height: 18px;

            transition: 0.4s all;
            opacity: 0;
        }
        // &::before {
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     top: 9px;
        //     background-image: url(../images/consumers.svg);
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     background-position: center;
        //     width: 40px;
        //     height: 24px;
        // }
        &:hover {
            color: #333333;
            &::after {
                opacity: 1;
            }
        }
        &:last-child {
            margin: auto;
        }
    }

    &__dropdown-close {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: auto;
        background-image: url(../images/close-search.svg);
    }

    // dropdown 2
    &__dropdown-top-container {
        display: flex;
        margin-bottom: 70px;
        margin-top: 40px;
        padding: 0 20px;
        justify-content: space-between;
    }

    &__dropdown-submenu {
        // display: flex;
        margin-right: 20px;
        @media screen and (max-width: 1070px) {
            margin-right: 0;
        }
        width: max-content;
        &:last-child {
            margin-right: 0;
        }
        &.small {
            max-width: calc(39% - 20px);
            width: 100%;
        }
        &.big {
            width: 100%;
        }
    }
    &__dropdown-submenu--secondary {
        // .menu__dropdown-submenu-list{
        //     flex: 1 1 207px;
        // }
        &:first-child {
            max-width: calc(67% - 20px);
            width: 100%;
            @media screen and (max-width: 1070px) {
                max-width: calc(55% - 20px);
            }
        }
        &:last-child {
            max-width: 29%;
            width: 100%;
            @media screen and (max-width: 1070px) {
                max-width: 40%;
            }
        }
    }
    &__dropdown-submenu-content {
        flex-wrap: wrap;
        display: flex;
        gap: 19px 19px;
    }

    &__dropdown-submenu-button {
        text-align: start;
        width: 100%;
        font-size: 20px;
        color: $black;
        cursor: default;
        position: relative;
        display: inline-block;
        padding-bottom: 11px;

        margin-bottom: 20px;
        &::before {
            display: none;
            content: "";
            position: absolute;
            right: 40px;
            background-image: url(../images/vector-second.svg);
            width: 10px;
            height: 10px;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.4s all;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #e6e6e6;
        }
    }

    &__dropdown-submenu-list {
        flex: 0 0 173px;
        @media screen and (max-width: 1070px) {
            flex: 1 1 183px;
        }
    }

    &__dropdown-submenu-item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__dropdown-submenu-title {
        font-weight: 700;
        font-size: 18px;
    }

    &__dropdown-submenu-link {
        &:hover {
            text-decoration-line: underline;
        }
    }
    &.inactive {
        transform: scale(0);
        overflow: hidden;
    }

    @media screen and (max-width: 767px) {
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
        transform: scale(1) translateX(100%) ;
        &.inactive {
            transform: scale(1) translateX(100%);
            z-index: 7;
        }
        &.active {
            transform: scale(1) translateX(0);
        }
        overflow-y: auto !important;
        position: fixed;
        z-index: 11;
        top: 75px;
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;

        margin-left: -40px;
        padding: 40px 0 0;
        flex-direction: column;
        // gap: 32px 0;
        &__item {
            // border-bottom: 1px solid #e6e6e6;
            &:last-child {
                margin-bottom: 300px;
            }
            &::after {
                display: none;
            }

            &.open {
                & > p {
                    &::after {
                        transform: translateY(-50%) rotateZ(180deg);
                    }
                }
            }
            &-title {
                display: block;
                width: 100%;
                font-weight: 700;
                font-size: 18px;
                padding: 15px 40px;

                &::after {
                    display: block;
                }
            }
        }
        &__dropdown {
            position: relative;
            top: 0;
            margin-top: 0;
            left: 0;
            padding: 0 0 15px;

            &:last-child {
                padding: 0;
            }
            background: $white;
            &-close {
                display: none;
            }
            &-top {
                &-item {
                    flex: 0 1 28%;
                    min-height: 95px;

                    height: auto;
                }
                &-list {
                    padding: 30px 0;
                    margin-bottom: 0;
                    gap: 35px 20px;
                }
            }
            &-bottom {
                background-color: transparent;
                height: unset;
            }
            &-bottom-container {
                padding: 0;
                // gap: 15px 0;
                display: flex;
                flex-direction: column;
            }
            &-bottom-link {
                margin-bottom: 10px;
                padding: 0 20px 0 40px;
                height: 46px;
                background-color: #f7f7f7;
                font-size: 14px;
                width: 100%;
                svg {
                    width: 24px;
                    height: 24px;
                }
                &::after {
                    opacity: 1;
                    right: 35px;
                    width: 20px;
                    height: 20px;
                    top: 11px;
                }
            }
        }
        &__dropdown-top {
            min-height: auto;
        }
        &__dropdown-top-container {
            flex-direction: column;
            margin: 0;
            padding: 0;
        }
        &__dropdown-submenu.small,
        &__dropdown-submenu.big {
            width: 100%;
            max-width: 100%;
        }
        &__dropdown-submenu--secondary {
            &:first-child,
            &:last-child {
                // width: 100px;
                max-width: 100%;
            }
        }
        &__dropdown-submenu-button {
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            padding: 10px 40px;
            // padding-bottom: 0;
            margin-bottom: 0;
            height: 46px;
            font-size: 16px;
            width: 100%;
            display: block;
            cursor: pointer;
            &::after {
                display: none;
            }
            &::before {
                display: block;
            }
            &.open {
                &::before {
                    display: block;
                    transform: translateY(-50%) rotateZ(180deg);
                }
            }
        }
        &__dropdown-submenu-content {
            flex-direction: column;
            overflow: hidden;
            max-height: 0;
            transition: 0.4s max-height ease-in-out;
            flex-wrap: nowrap;
            gap: 0;
        }
        &__dropdown-submenu-list {
            &:last-child {
                li:last-child {
                    a,
                    span {
                        border: none;
                    }
                }
            }
            // border-bottom: 1px solid #e6e6e6;

            //   li:last-child{
            //     a ,span{
            //         // // padding: 14px 0 15px 0;
            //         border-bottom: none;
            //     }
            //   }

            //     li:first-child{
            //       a ,span{
            //           // // padding: 14px 0 15px 0;
            //        border-top: none;
            //       }
            //     }

            flex: auto;
        }
        &__dropdown-submenu-item {
            padding-left: 56px;
            height: 46px;
            margin-bottom: 0;

            a,
            span {
                display: block;
                width: 100%;
            }
            a,
            span {
                padding-bottom: 13px;
                padding-top: 14px;
                // border-top: 1px solid #e6e6e6;
                border-bottom: 1px solid #e6e6e6;
            }
        }
        &__dropdown-submenu-title {
            // &:first-of-type {
            //     border-top: none;
            // }
            font-size: 16px;
        }
    }
    @media screen and (max-width: 500px) {
        margin-left: -10px;

        &__item {
            &-title {
                padding: 15px 10px;
                &::after {
                    right: 20px;
                }
            }
        }
        &__dropdown {
            &-top {
                .container-minor {
                    padding: 0 10px;
                }
            }
            &-top-list {
                gap: 20px 0;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            &-top-item {
                flex: 0 1 33%;
                min-height: 95px;
                height: auto;
            }
            &-bottom-link {
                &:last-child {
                    margin-bottom: 10px;
                }
                padding: 0 10px;
                &::after {
                    right: 15px;
                }
            }
        }
        &__dropdown-submenu-button {
            padding: 0 10px 0 0;
            &::before {
                right: 10px;
            }
        }
        &__dropdown-submenu-item {
            padding-left: 10px;
        }
    }
}

.lang {
    &.inactive {
        transform: scale(0);
        overflow: hidden;
    }
    // text-align: center;
    // align-self: center;
    margin-left: auto;
    text-transform: uppercase;
    font-size: 14px;
    color: $black;
    padding-top: 10px;
    &__button {
        padding-right: 20px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 4px;
            right: 0;
            background-image: url("../images/arrow-down.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 10px;
            height: 6px;

            transition: 0.3s all;
        }
        &.active {
            &::after {
                transform: rotateZ(180deg);
            }
        }
    }

    &__dropdown {
        transition: 0.3s all;
        position: absolute;

        padding-top: 10px;
        max-height: 0;
        overflow: hidden;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-label {
        // &:first-child {
        //     margin-bottom: 20px;
        // }
        span {
            transition: 0.3s all;
        }
        &:hover {
            span {
                color: $red;
            }
        }
        cursor: pointer;
    }

    &__form-input {
        display: none;
    }
}

.search {
    display: flex;
    position: absolute;
    right: 42px;
    align-items: center;
    transform: scale(0);
    transition: 0.3s all;
    height: 100%;
    z-index: 12;

    &.active {
        visibility: visible;
        transform: scale(1);

        // max-width: max-content;
        z-index: 2;
    }
    &-box {
        display: flex;
        align-items: center;
    }
    &__label {
        display: flex;
        max-width: 350px;
        position: relative;
        // width: 100%;
        &::after {
            content: "";
            position: absolute;
            right: 15px;
            bottom: calc(50% - 10px);
            background-image: url(../images/searcher.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 22px;
            height: 20px;
        }
    }

    &__input {
        padding: 10px 44px 10px 20px;
        // gap: 10px;
        display: block;
        height: 50px;
        outline: none;
        width: 350px;

        background: #ffffff;
        border: 1px solid #bebdbd;
        transition: 0.3s all;
        // appearance: none;
        &::placeholder {
            font-size: 16px;
            line-height: 18px;

            color: #757575;
        }
        &:focus {
            border: 1px solid #bebdbd;
            color: #282828;
            -webkit-box-shadow: 0px 3px 8px #d4d4d4;
            box-shadow: 0px 3px 8px #d4d4d4;
        }
    }

    &__close {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    &__close-image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 767px) {
        transform: scale(1) translateX(100%);
        transition: 0.4s all;

        &.active {
            transform: translateX(0);
            z-index: 12;
        }
        align-items: flex-start;
        // justify-content: center;
        width: 100%;
        position: fixed;
        background-color: #f2f2f2;
        right: 0;
        top: 0;
        &-box {
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 75px;
            padding: 0 20px;
        }
        &__label {
            max-width: 100%;
            width: 100%;
        }
        &__input {
            width: 100%;
        }
        &__form {
            width: 100%;
        }
    }
}

.burger-button {
    @media screen and (max-width: 767px) {
        display: flex;
    }
    display: none;

    // max-width: 35px;
    flex-direction: column;
    margin-left: 34px;
    width: 32px;

    height: 25px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 8;
    &.active {
        span:nth-child(2) {
            width: 0;
        }
        span:first-child {
            transform: rotateZ(-135deg);
            top: 46%;
        }
        span:last-child {
            transform: rotateZ(135deg);
            bottom: 46%;
        }
    }
    span {
        pointer-events: none;
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 32px;
        background-color: #000;
        // border-radius: 15%;
        transition: 0.3s all;
        &:first-child {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }
        &:last-child {
            bottom: 0;
        }
    }
}
