.promo {
    padding-top: 10px;
    // &__container {
    // }

    // &__slider {
    // }

    // &__slider-wrapper {
    // }

    &__slider-slide {
        position: relative;
        z-index: 1;
        height: 400px;
        picture {
        }
        img {
            display: inline-block;
            // max-width: 1200px;
            width: 100%;
            height: 400px;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__button {
        position: absolute;
        z-index: 2;
        bottom: 33%;
        left: 50%;
        transform: translateX(-50%);
    }

    // &__slider-pagination {
    // }

    &__slider-btn-left,
    &__slider-btn-right {
        width: 60px;
        display: flex;

        height: 32px;
        path {
            transition: 0.3s all;
        }
        &:hover {
            path {
                fill: $red;
            }
        }
        &::after {
            display: none;
        }
    }

    &__slider-btn-left {
        justify-content: flex-start;
        left: 27px;
    }
    &__slider-btn-right {
        justify-content: flex-end;
        right: 27px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        // margin: 0;
        margin-right: 10px;
    }
    .swiper-pagination-bullet {
        position: relative;
        width: 100px;
        height: auto;
        text-align: left;
        border-radius: 0;
        opacity: 1;
        margin-right: 10px;
        height: 3px;
        margin-bottom: 20px !important;
        background-color: transparent;
        em {
            display: none;
        }
        i {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;

            width: 100%;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.5);
            //progress bar 배경
        }
        b {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 0%;
            height: 3px;
            background-color: $white;
            //progress bar 채워지는 부분
        }
    }
    .swiper-pagination-bullet-active {
        background-color: transparent;
        b {
            animation-name: countingBar;
            animation-duration: 3s; //autopaly 시간과 맞춰주기
            animation-timing-function: ease-in;
            animation-iteration-count: 1;
            animation-direction: alternate;
            animation-fill-mode: forwards;
        }
    }

    @keyframes countingBar {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    @media screen and (max-width: 768px) {
        .container-main {
            padding: 0 30px;
        }

        &__slider-btn-left,
        &__slider-btn-right {
            top: calc(50% - 46px);
            transform: translateY(-50%);
        }
        &__button {
            transform: translate(-50%, -50%);
            bottom: calc(50% + 30px);
        }
        &__slider-slide {
            // width: 708px;
            height: 781px;
            img {
                max-height: 781px;
            }
        }
    }
    @media screen and (max-width: 500px) {
        .container-main {
            padding: 0 10px;
        }
        &__button {
            padding: 12px 21px;
        }
        &__slider-btn-left,
        &__slider-btn-right {
            top: calc(50% + 16px);
            transform: translateY(-50%);
        }
        &__button {
            transform: translate(-50%, -50%);
            bottom: calc(50% - 34px);
        }
        &__slider-slide {
            // width: 708px;
            height: 487px;
            img {
                max-height: 487px;
            }
        }
    }
    @media screen and (max-width: 420px) {
        &__button {
            padding: 12px 15px;
        }
        &__slider-pagination {
            display: none;
        }
        &__slider-slide {
            // width: 708px;
            height: 376px;
            img {
                max-height: 376px;
            }
        }
    }
}
